#BottingRichting {
    width: 100%;
    height: 100%;
    background-color: #324699;
    border-radius: 0 0 15px 0;
}

#BottingRichting #default-message-left {
    width: 20%;
    float: left;
    border: none;
    align-items: center;
    height: 80%;
    background-color: transparent;
}

#BottingRichting #default-message-left .alert-icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
}

#BottingRichting #default-message-right {
    width: 80%;
    float: left;
    border-radius: 0 0 15px 0;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

#BottingRichting #default-message-right h1110 {
    font-size: 1.3rem;
    font-weight: initial;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ff0000;
    text-align: center;
}

#BottingRichting #default-message-right h1109 {
    font-size: 1.1rem;
    color: #fff;
    font-weight: initial;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    align-content: center;
} 

#BottingRichting #default-message-right h1108 {
    font-size: 1.125rem;
    color: lightgreen;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    align-content: center;
} 

@media screen and (max-height: 660px) {
    #BottingRichting {
        width: 100%;
        height: 100%;
        background-color: #324699;
        border-radius: 0 0 15px 0;
    }
    
    #BottingRichting #default-message-left {
        width: 20%;
        float: left;
        border: none;
        align-items: center;
        height: 80%;
        background-color: transparent;
    }
    
    #BottingRichting #default-message-left .alert-icon {
        width: 100%;
        height: 100%;
        display: inline-block;
        align-items: center;
    }
    
    #BottingRichting #default-message-right {
        width: 80%;
        float: left;
        border-radius: 0 0 15px 0;
        align-items: center;
        height: 100%;
        background-color: transparent;
    }
    
    #BottingRichting #default-message-right h1110 {
        font-size: 1.2rem;
        font-weight: initial;
        font-style: normal;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ff0000;
        text-align: center;
    }
    
    #BottingRichting #default-message-right h1109 {
        font-size: 1rem;
        color: #fff;
        font-weight: initial;
        font-style: normal;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        align-content: center;
    } 
    
    #BottingRichting #default-message-right h1108 {
        font-size: 1.025rem;
        color: lightgreen;
        font-weight: bold;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        align-content: center;
    } 
}