* {	
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	font-family: sans-serif;
	background: var(--primary);
	padding: 0;
	margin: 0;
}
  
#root {	
	height: 100vh;
}

:root {
	--primary: linear-gradient(to right, #00CEB1, #344698, #142996);
	--ombra: #B22922;
	--forget: #ffa500;
	--invia: #2ECC71;
	--passwordforgot: yellow;
	--uovo: #00CEB1;
 	--bordinvia: #2ECC71;
	--schead: #00FF5C;
	--check: rgb(110,110,110);
	--bordo: blue;
	--text: #FFFFFF;
	--checkbef: gray;
	--before: rgb(50,50,50);
	--ov: #1C1C1C;
	--intback: transparent;
	--head: rgb(140,140,140);
	--input: #3498DB;
	--internal: #6495ED;
}

.aligned_aligned_aligned {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 8px;
}

.carded_carded_carded {
	margin-top: 28px;
	height: auto;
	width: auto;
	background: var(--intback);
	border: 2px solid;
	border-color: var(--bordo);
	border-radius: 30px;
	overflow: hidden;
	transition: max-height 0.2s;
    box-shadow: var(--ombra) 35px 45px 60px;
}

.extend {
	max-height: 480px;
}

.headed_headed_headed {
	width: 100%;
	display: flex;
	height: 72px;
	border-bottom: 0.5px solid;
	border-color: var(--bordo);
	justify-content: space-between;
}

.headed_headed_headed a {
	height: 100%;
	padding: 0 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--head);
	font-size: 20px;
	font-weight: 500;
}

.headed_headed_headed .selected_selected_selected_selected {
	position: relative;
	color: var(--schead);
	font-weight: 700;
}

.headed_headed_headed .selected_selected_selected_selected:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background: var(--schead);
	border-radius: 99px 99px 0 0;
}

.tabsed_tabsed_tabsed {
	height: calc(100% - 72px);
	display: flex;
}

.boxed_boxed_boxed {
    width: 435px !important;
    height: 435px !important;
	padding: 40px !important;
	position: relative !important;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px !important;
	margin-left: 1px !important;
	margin-right: 10px !important;
	margin-bottom: 25px !important;
	flex-direction: column;
    top: 2%;
    left: 1.15%;
	border-radius: 50%;
	background-color: var(--ov);
	transition: 0.2s;
	text-align: center;
	box-shadow: var(--uovo) 35px 45px 60px;
}

.boxed_boxed_boxed .users_users_users,.boxed_boxed_boxed .users_users_users {
	border: 0;
	background: none;
	display: block;
	font-size: 14px;
	margin: 20px auto;
	text-align: center;
	border: 2px solid;
	border-color: var(--input);
	padding: 14px 10px;
	width: 200px;
	font-weight: bold;
	outline: none;
	color: var(--text);
	border-radius: 24px;
	transition: 0.25s;
}

.boxed_boxed_boxed .users_users_users:focus,.boxed_boxed_boxed .users_.users_users:focus {
	width: 280px;
	border-color: var(--invia);
}

.inputeds_inputeds_inputeds img {
	width: 25px;
	position: absolute;
	margin-top: -55px;
	margin-left: 95px;
	left: 35px;
}

.boxed_boxed_boxed .sk_sk_sk,.boxed_boxed_boxed .sk_sk_sk {
	border: 0;
	background: none;
	display: block;
	font-size: 14px;
	margin: 20px auto;
	text-align: center;
	border: 2px solid;
	border-color: var(--ombra);
	padding: 14px 10px;
	width: 200px;
	font-weight: bold;
	outline: none;
	color: var(--text);
	border-radius: 24px;
	transition: 0.25s;
}

.boxed_boxed_boxed .sk_sk_sk:focus,.boxed_boxed_boxed .sk_sk_sk:focus {
	width: 280px;
	border-color: var(--ombra);
}

.inputsing_inputsing_inputsing img {
	width: 25px;
	position: absolute;
	margin-top: -55px;
	margin-left: 95px;
	left: 35px;
}

.checkboxed_checkboxed_checkboxed {
	height: 40px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.checkboxed_checkboxed_checkboxed input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.checkboxed_checkboxed_checkboxed span {
	display: flex;
	align-items: center;
	color: var(--check);
	background-color: none;
	font-size: 16px;
	user-select: none;
}

.checkboxed_checkboxed_checkboxed span::before {
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 6px;
	margin-right: 16px;
	background-color: var(--checkbef);
}

.checkboxed_.checkboxed_checkboxed input ~ span:before {
	background-color: var(--before);
}

.checkboxed_checkboxed_checkboxed input:checked ~ span:before {
	background-image: url(../../../icons/checkedIcon.png);
	background-size: cover;
}

.boxed_boxed_boxed .procedes_procedes_procedes {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	text-decoration: none;
	border: 2px solid;
	border-color: var(--bordinvia);
	padding: 14px 40px;
	font-size: 16px;
	width: 200px;
	height: 50px;
	outline: none;
	color: var(--text);
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.boxed_boxed .procedes_procedes:hover {
	background: var(--invia);
}

.boxed_boxed .procedes_procedes:focus {
	outline: 0;
	width: 250px;
}

h12 {
	font-size: 1rem;
	color: #fff;
	font-family: Arial, 
				 Helvetica, 
				 sans-serif;
	text-decoration: underline;
	font-weight: 300;
	font-style: normal;
}