<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it">

    <head>
    <title>Page 404 Error</title>
    <meta equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />

    <meta name="author" content="Eclipse22550" />
    <meta name="keywords" content="" />
    <meta name="" />
    <meta name="robots" content="index, follow" />

    <link rel="SHORTCUT ICON" tyoe="text/css" href=".\Img\" type="image/x-ico" />
    <link rel="stylesheet" type="text/css" media="screen" href="default.css" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap" />
    </head>

    <body>
        <div id="container">
            <div class="content">
                <h2>404</h2>
                <h4>Opps! Pagina non trovata</h4>
                <p>La pagina che stavi cercando non esiste. Potresti aver sbagliato a digitare l'indirizzo o la pagina potrebbe essersi spostata.</p>
            </div>
        </div>
        <script type="text/javascript">
            var container = document.getElementById('container');
            window.onmousemove = function(e) {
                var x = - e.clientX/5,
                    y = - e.clientY/5;
                container.style.backgroundPositionX = x + 'px';
                container.style.backgroundPositionY = y + 'px';
            }
        </script>
    </body>

</html>